<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
    <title>Document</title>
</head>

<body>


</body>
<div id="app">
    {{message}}
</div>
<div id="app2">
    <!-- test 1uhuqddddddqqqqhuh-->
    <span v-bind:title="message">
        滑鼠停留顯示
    </span>
</div>

<div id="app-3">
    <p v-if="seen">现在你看到我了</p>
</div>

<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>

</body>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            message: '打中文'
        }
    });

    var app2 = new Vue({
        el: '#app2',
        data: {
            message: '頁面加載' + new Date()
        }
    });

    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: true
        }
    })

    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [{
                text: '学习 JavaScript'
            }, {
                text: '学习 Vue'
            }, {
                text: '整个牛项目'
            }]
        }
    })
</script>